@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: black;
}
/* header and title */

#header-outer{
    overflow: hidden;
    position: relative;
}
#header-image{
    background: url(../images/header.jpg) no-repeat center center;
    height: 200px;
    width:100%;
}

#title {
    text-align: center;
}

.dificulty-selector{
    text-align: center;
}
.dificulty-selector button{
    padding: 20px;
    margin: 30px;
    font-size: 15px;
    background-color:#afbacc;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid black;
    width: 40%;
}
/* question section */
.question-section{
    border-style: solid;
    border-width: 2px;
    border-color: #afbacc;
    border-radius: 10px;
    padding:0, 50px;
    margin: 30px;
    text-align: center;
}
.question {
    text-align: center;
    clear: both;
}
/* answer section*/

.answer-section button{
    padding: 20px;
    margin: 30px;
    font-size: 15px;
    background-color:#afbacc;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid black;
    width: 40%;
}
/*score sections*/
.score-section{
    text-align: center;
}