@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: black;
    background-image: url(../images/background.jpg);
    
}
/*game box*/
.game-box {
    border-style: solid;
    border-width: 2px;
    border-color: #4F4350;
    border-radius: 10px;
    padding:30px;
    margin: 30px;
    text-align: center;
    background-color:  #b5a7b6;
}

/* header and title */

.title {
    text-align: center;
    color: white;
}

/* start button */

#start-button{ 
    padding: 20px;
    margin: 30px;
    font-size: 30px;
    background-color:#F4CAF9;
    border-radius: 10px;
    border: 2px solid #4F4350;
    width: 25%;
}

#next-button{
    padding: 20px;
    margin: 30px;
    font-size: 15px;
    background-color:#F4CAF9;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid #4F4350;
    width: 20%;
}

/* question section */
#question {
    text-align: center;
    clear: both;
    font-size: 30px;
}
#question-section{
    padding-top: 20px;
}

#question-text {
    font-size: 20px;
    font-weight: bold;
}
/* answer section*/

#answer-section button{
    padding: 20px;
    margin: 30px;
    font-size: 20px;
    background-color:#F4CAF9;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid #4F4350;
    width: 40%;
}

/* button hover */

#answer-section button:hover{
    color: white;
    background-color:#4F4350 ;
}
#start-button:hover{
    color: white;
    background-color: #4F4350 ;
}

#next-button:hover{
    color: white;
    background-color: #4F4350 ;
}
.hide{
    display:none;
}
.correct{
    background-color: green;
    color: black;
}
.wrong{
    background-color: red;
}
@media screen and (max-width: 500px){
    #anser-section button { 
        text-align: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #next-button {
        width:60%;
    }
    #start-button{
        width:60%;
        text-align: center;
    }
}
    